@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.skills {
    h3 {
        margin-top: 0;
    }
    padding: 8px !important;
    margin-bottom: 10px;
}

.section {
    &__heading {
        margin-bottom: 8px !important;
    }
    &__body {
        margin-bottom: 20px !important;
    }
}
.cv__wrapper {
    position: relative;
}
.print-button {
    position: absolute;
    top: -26px;
    right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    margin-left: auto;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }
    background-color: transparent;

    &__label {
        margin-right: 20px;
    }
}

.print__header {
    display: none;
}
.print__note {
    display: none;
    font-size: 8px;
}
.section__body {
    text-align: justify;
}
.section__heading {
    ul {
        margin-bottom: 1rem;
    }
    ul li {
        margin-bottom: 0;
    }
}

@media print {
    .print-button, .print-button * {
        visibility: hidden !important;
    }
    .print__header, .print__header * {
        visibility: visible !important;
        display: block;
    }

    .print__note {
        visibility: visible !important;
        display: block;
    }

}